@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt,ol, dd, ul, li,

article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*------------------------------ Här börjar csskoden *------------------------------------------*/

body
{
background-image: url(../pics/blackorchid.png);
}


#banner

{
margin-top:100px;
float:left;
}


#container 
{
    
background-color:#ffffff;
margin-top:100px;
margin:0 auto;
max-width: 960px; 
}


#content
{
background-color:#FFF;
margin-right: 100px;
width: 900px;
float:left;
border: solid 5px silver;
font-family:new Times New Roman;
-webkit-border-radius: 15px;
-moz-border-radius: 15px; 
border-radius: 15px; 
}


#photoinfo
{
background-color:#FFF;
border:2px solid silver;
float:left;
width: 220px;
height: 300px;
margin-top:50px;
margin-left:20px;
}

.photoinfo
{
width:150px;
margin:5px;
font-size:20px;  
}

.photoinfotext
{
font-size:12px;
margin-left:5px;    
}



#bloggis ol, #bloggis ul 
{
margin-left:2%;
padding-left:2%;
    }

#footer
{
background-color:#924747;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
float:left;
width: 900px;

     
}

#bloggis
{
width: 400px;
margin-left: auto;
margin-right: auto;    
}


#navigation
{
background-color:#7109AA;
width:900px;
height:50px;
border: solid 2px silver;
border-top-right-radius: 15px;
border-top-left-radius: 15px;    
}

.bloggbox
{
background-image: url(../pics/backgroundpix.png);
width: 400px;
border: 2px solid #666;
margin-bottom:  5px;
margin-left:105px;    
}

.bloggpics
{
width:150px;
height: 200px;
float:right;
}



/* ----------------------------------------meny-------------------------------------------- */


#mainnav 

{
   
    border-bottom: none;
    float: left;
    width:897px;
    height:50px;
    margin-left:245px;
    margin-bottom: 60px;
    margin-top:20px;
    word-spacing:20px; 
}

#mainnav ul, #mainnav ol
{
list-style: none;    
}

#mainnav li 
{
 border-bottom: 1px solid black;  
 list-style: none;
display:inline;

   
}

#mainnav a
{
text-decoration: none;
background-color:#7109AA;
color: #EFE;
font-family: helvetica, Sans-Serif;
font-weight: bold;
padding: 5px;
   
}

#mainnav a:hover
{
background-color: #FFd540;
color:#000;    
}

#mainnav .active a 
{
background-color:#CC3F38;
}




/*------------------------ Spirits-----------------------------*/


#social-list a
{
width: 24px;
height: 24px;
display: block;
background-image: url(../pics/sprite.png);
text-indent: 9999px;
}

#social-list li
{
float:left;
list-style-type:none;
margin-right:60px;
}

#google 
{
background-position: 0 312px
}

#google:hover
{
background-position: 0 0px    
}


#facebook 
{
background-position: 0  216px
}

#facebook:hover
{
background-position: 0 264px    
}

#coursepress
{
background-position: 0 120px
}

#coursepress:hover
{
background-position: 0 168px    
}

#sj
{
background-position:  0  24px
}

#sj:hover
{
background-position: 0 72px
}








/*---------- slut på navigatorn--------- */









/*-------------text taggar--------------*/


h1
{
text-align: center; 
margin-top: 10px; 
margin-bottom: 10px;  
}

.bloggen
{
font-size:20px;
margin-left:101px;   
}


h2
{
text-align: left;
margin-top: 10px;
margin-bottom: 10px;
font-style:italic;  
}


h3
{
text-align: left;
font-size: 20px; 
color:#7F3022; 
margin-top: 10px;  
}

h4
{
text-align: left;
font-size: 17px;
font-weight:bold;
margin-bottom:5px;
   
}


p
{
text-align:left;
margin-bottom: 10px;    
}

.linespacing
{
margin-top:10px;    
}
    
    
#rubrik1
{
text-align: center;
font-size: 30px;
font-weight:bold;    
}

#emunder
{
text-align:center;
font-size: 15px;
margin-bottom:10px;
font-style:italic
   
}


.labb3
{
text-align: Center;
margin-top: 10px;
margin-bottom: 10px;	
}

.footer
{
padding-left: 10px;
}


/*-------classer till jacascript-----*/

.hidden 
{ 
display: none; 
}

.unhidden
 { 
display: block;  
 }

